    body {
    background-color: rgb(53, 14, 69);
    color: white;
}
.container-box {
    text-align: center;
    /* gap: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-box {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    background-color: rgb(70, 20, 89);
    
}
.name, .email {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}
input{
    color: white;
}
.result-box {
    width: 70%;
    margin-top: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgb(70, 20, 89);
    padding: 5px;
    border-radius: 5px;
}

thead{
    width: 100%;
}
th{
    width: 300px;
}
td{
    width: 400px;
}

.add {
    background-color: green;
    padding: 5px;
    cursor: pointer;
    border: 1px solid white;
}
.add:hover {
    border-radius: 20px;
}
button{
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}
button:hover{
    border-radius: 20px;
}